@model IEnumerable<Recipe>

@{
    ViewData["Title"] = "Home Page";
    var postcounter =0;
}

    <br>
    @foreach (var item in Model)
    {
       postcounter+=1;
    <div class="container">
    <div class="homefeed">
		<h2>@item.Name</h2>
		<h6>@item.DateOfCreation</h6> <br/>
    <a asp-controller="Home" asp-action="Visit" asp-route-name="@item.Name" class="btn btn-secondary" style="width: 150px ;">عرض</a>
		  </div>
      @if (postcounter == 3){
          <div class="AdInFeed" > <h2 class="text-danger">AD goes here</h2></div>
      }
       <div class="AdLeft"></div>
    <div class="AdRight"></div>
      </div>
    }


   
    