html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}
.feed{
  border-radius: 10px;
  padding: 2%;
  margin-bottom: 2%;
  margin-bottom: 2%;
  border: 1px black solid;
}
body {
  margin-bottom: 60px;
}