@model Recipe





<form method="Post" asp-action="Create">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary"> Add Recipe</h2>
            <hr />
        </div>
        <div class="mb-3" >
            <label asp-for="Name"></label>
            <input type="text" asp-for="Name"  id="Name"  class="form-control" required/>
        </div>
         <div class="mb-3" >
            @* <label asp-for="Recipe_Ingreadiants"></label>
            <input type="text" asp-for="Recipe_Ingreadiants"  class="form-control"/> *@
                <table class="table" style="width: 70%;" id="myTable">
                        <tr>
                            <th scope="col">Ingreadiant</th>
                            <th scope="col">quantity</th>
                        </tr>
                        
                            @for (int i = 0;  i < 10; i++)
                                {<tr scope="row" id="@i" style="display: none;">
                                  <td> <input asp-for="@Model.Recipe_Ingreadiants[i].IngreadiantName "/> </td>    
                                  <td> <input asp-for="@Model.Recipe_Ingreadiants[i].amount"/> </td>   
                                  </tr>     
                                }
                        
                </table>
                <button type="button" class="btn btn-primary" id="new" onclick="MoreRows()">new</button>
        </div>
        <div class="mb-3" >
            <label asp-for="Discription"></label>
            <input type="text" asp-for="Discription"  id="Discription"  class="form-control"/>
        </div>
        <div class="mb-3" >
            <label asp-for="link"></label>
            <input type="text" asp-for="link" id="Link" class="form-control"/>
        </div>
        <button type="submit" id="sub" class="btn btn-primary" style="width: 150px;">Add</button>
        <a asp-controller="Recipe" asp-action="IndexRecipe" class="btn btn-secondary" style="width: 150px ;">Back</a>
    </div>
</form>  



<script>
    var count=0;
function MoreRows(){
            document.getElementById(count).style.display="block";
            count++;
    }
</script> 

