@model TransportRecipe





<form method="Post" asp-action="Create">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary"> Add Recipe</h2>
            <hr />
        </div>
        <div class="mb-3" >
            <label asp-for="name"></label>
            <input type="text" asp-for="name"  id="Name"  class="form-control" required/>
        </div>
         <div class="mb-3" >
            @* <label asp-for="Recipe_Ingreadiants"></label>
            <input type="text" asp-for="Recipe_Ingreadiants"  class="form-control"/> *@
                <table class="table" style="width: 70%;" id="myTable">
                        <tr>
                            <th scope="col">Ingreadiant</th>
                            <th scope="col">quantity</th>
                        </tr>
                        <tr scope="row">
                            @* <td><input id="N0" type="text" class="form-control"></td>
                            <td><input id="A0" type="text" class="form-control"></td> *@
                        </tr>
                </table>
                <button type="button" class="btn btn-primary" id="new" onclick="MoreRows()">new</button>
        </div>
        <div class="mb-3" >
            <label asp-for="discription"></label>
            <input type="text" asp-for="discription"  id="Discription"  class="form-control"/>
        </div>
        <div class="mb-3" >
            <label asp-for="link"></label>
            <input type="text" asp-for="link" id="Link" class="form-control"/>
        </div>
        <button type="submit" id="sub" class="btn btn-primary" style="width: 150px;">Add</button>
        <a asp-controller="Recipe" asp-action="IndexRecipe" class="btn btn-secondary" style="width: 150px ;">Back</a>
    </div>
</form>  



<script>



    var count=0;
    var index=0;
    var IngreadianAndAmounts="";
function go(){
    for(var i=1 ; i<=count; i++){
        var NameCount= "N"+i;
        var AmountCount="A"+i;
      IngreadianAndAmounts += document.getElementById(NameCount).value+"*"+document.getElementById(AmountCount).value+";";
    }

     var Link=document.getElementById("Link").value;
    var Discription=document.getElementById("Discription").value;
   
         if(Link==null){
        Link="https://www.youtube.com/embed/.";
        }

        if(Discription==null){
            Discription="....";
        }

        if(IngreadianAndAmounts==null){
            IngreadianAndAmounts="...*...";
        }

        var Name= document.getElementById("Name").value;
        var send= Name+","+Discription+","+Link+","+IngreadianAndAmounts;

    axios.post("http://localhost:7277/Recipe/Create",{obj:send}).then().catch();

    } 

function MoreRows(){
            count++;
            var table = document.getElementById("myTable");
            var row = table.insertRow(count);
            var cell1 = row.insertCell(0);
            var cell2 = row.insertCell(1);
            cell1.innerHTML = "<input id='N"+count+"' asp-for='RecIngr["+(index)+"]' type='text' class='form-control'>";
            index++;
            cell2.innerHTML = "<input id='A"+count+"' asp-for='RecIngr["+index+"]' type='text' class='form-control'>";
            index++;
    }

   
     
</script> 

