@model Ingreadiant



<form method="post" enctype="multipart/form-data" >

<div class="mb-3">
    <label asp-for="Name"></label>
    <input type="text" asp-for="Name"  id="Name"  class="form-control" required/>
</div>
<div class="mb-3">
  <label asp-for="Image" class="form-label"></label>
  <input class="form-control" asp-for="Image" type="file" id="formFile">
  </div>
  <div class="mb-3">
  <button type="submit" id="sub" class="btn btn-primary" style="width: 150px;">Add</button>
  <a asp-controller="Ingreadiant" asp-action="IndexIng" class="btn btn-secondary" style="width: 150px ;">Back</a>
  </div>
</form>
